@model List<DAL.Models.Criterion>

<div class="form-horizontal">

	@for (var i =0; i < Model.Count; i++)
	{
		var criterion = Model[i];

		<div class="form-group">
			<div class="control-label col-md-2">
				@criterion.Name
			</div>
			<div class="col-md-9">
				@Html.CustomDropDownFor($"Vectors[{i}].MarkId", criterion.Marks, (int)ViewBag.SelectedItems[criterion.Id], "-- Выберите оценку --")
			</div>
			<div class="control-label text-left col-md-1">
				@criterion.Edlzmer
			</div>
		</div>
	}

</div>