
@{
    ViewBag.Title = "МОДЕЛЮВАННЯ ЗАДАЧ БАГАТОКРИТЕРІАЛЬНОГО ПРИЙНЯТТЯ РІШЕНЬ";
}

<h2 class="text-center">Лабораторні роботи</h2>
<h2>
	<b>Лабораторна робота №2</b> - З використанням функції корисності – лінійне аддитиве
	згортання з нормуючими множниками. Нормування оцінок
	проводити з урахуванням еталону.
</h2>
<h2>
	<b>Лабораторна робота №3</b> - Правило Кондерсє + Правило Копленда.
</h2>
	<div class="row">
		<div class="col-md-12">
			<h2 class="mini-stat clearfix">Виконали студенти:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="mini-stat clearfix">
				<span class="mini-stat-icon orange"><i class="fa fa-user"></i></span>
				<div class="mini-stat-info">
					<span>Станіслав</span>
					Задорожній
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="mini-stat clearfix">
				<span class="mini-stat-icon tar"><i class="fa fa-user"></i></span>
				<div class="mini-stat-info">
					<span>Володимир</span>
					Гаврилов
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="mini-stat clearfix" style="background: #dad9d9 !important;">
				<span class="mini-stat-icon"><i class="fa fa-user"></i></span>
				<div class="mini-stat-info">
					<span>Валерій</span>
					Моргун
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="mini-stat clearfix" style="background: #dad9d9 !important;">
				<span class="mini-stat-icon"><i class="fa fa-user"></i></span>
				<div class="mini-stat-info">
					<span>Ігор</span>
					Малицький
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<img src="~/images/1480239689122783219.gif" class="center-block"/>
		</div>
	</div>

