@{
    ViewBag.Title = "Not Found";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="image/favicon.png">
    <title>Not Found - Sova</title>
    <link href="~/Content/vendor.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
</head>


<body class="body-404">
    <div class="error-head"> </div>
    <div class="container ">
        <section class="error-wrapper text-center">
            <h1><img src="~/images/404.png" alt=""></h1>
            <div class="error-desk">
                <h2>страница не найдена</h2>
                <p class="nrml-txt">Мы не можем найти эту страницу</p>
            </div>
            <a href="@Url.Action("Index","Home")" class="back-btn"><i class="fa fa-home"></i> Вернуться на главную</a>
        </section>
    </div>

</body>
</html>
