@model object
@if (Model is Enum)
{
	<div class="editor-field">
		@*@Html.EnumDropDownListFor(m => m, new { @class = "form-control" })*@
		@Html.DropDownListFor(m=>m, Enum
			.GetValues(Model.GetType())
			.Cast<object>()
			.Select(p=>new SelectListItem
			{
				Text = p.ToString().Translate(),
				Value = ((int)p).ToString(),
				Selected = (int)Model == (int)p
			}), new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m)
	</div>
}
else
{
	@Html.TextBox(
		"",
		ViewData.TemplateInfo.FormattedModelValue,
		new { @class = "form-control" }
		)
}